Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-49: + accountName client
  frontend/src/pages/account-settings/components/profile/profile.tsx
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: * current user path
  frontend/src/packages/auth/auth-api.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-49: * update swagger description
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/users/user.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-49: * moved updateUser action to user slice
  frontend/src/packages/users/users-api.ts
  frontend/src/pages/account-settings/account-settings.tsx
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-49: * fix nullable accountName
  shared/src/packages/users/libs/types/user-update-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-update.validation-schema.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-43: + add project card component
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/components/project-card/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-43: + add my projects component
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/my-projects/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-43: + add image component
  frontend/src/libs/components/image/image.tsx
  frontend/src/libs/components/image/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-49: * update db schema.Add account_name column
  readme.md
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-13: - work on mistakes from the pull
  frontend/src/libs/packages/notification/libs/enums/enums.ts
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/libs/packages/store/middlewares/handle-error.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/app/actions.ts
  frontend/src/slices/app/app.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-49: + require validation message for account name
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/user-update.validation-schema.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-49: * change way of selection user in AccountSettings
  frontend/src/pages/account-settings/account-settings.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-13: * change void
  frontend/src/slices/app/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: + created header block for modal window, made close icon be in the end of it, added styles for header and updated icon's one
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-51: + added defining css variable for modal z-index
  frontend/src/assets/css/variables.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-13: * change import route
  frontend/src/slices/app/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: + add project action and slice
  frontend/src/slices/projects/actions.ts
  frontend/src/slices/projects/projects.slice.ts
  frontend/src/slices/projects/projects.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: + add project api
  frontend/src/packages/projects/libs/enums/enums.ts
  frontend/src/packages/projects/libs/types/types.ts
  frontend/src/packages/projects/projects-api.ts
  frontend/src/packages/projects/projects.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * add route my-projects
  frontend/src/index.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * fix components
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/my-projects.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * add projects to reducer
  frontend/src/libs/packages/store/store.package.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * add api routes for projects
  frontend/src/libs/enums/app-route.enum.ts
  shared/src/packages/projects/libs/enums/projects-api-path.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-43: * change link name in header
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * add find by UserId method and route
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/projects/project.repository.ts
  backend/src/packages/projects/project.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-43: * add type for find by userId request
  backend/src/packages/projects/libs/types/types.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-43: * fix styles
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/my-projects.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * fix dependency
  frontend/src/pages/my-projects/my-projects.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

development: * root packagelock
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-13: - eslint no-unsafe
  frontend/src/slices/app/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * fix dispatch dependensy
  frontend/src/pages/my-projects/my-projects.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-13: * imports
  frontend/src/libs/packages/store/middlewares/handle-error.ts
  frontend/src/libs/packages/store/store.package.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * fix pages and styles with new rules
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/components/project-card/styles.module.scss
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/my-projects/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-43: * fix style names
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/my-projects.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * fix image component
  frontend/src/libs/components/image/image.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-8: * names changes & some minor changes
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.ts
  frontend/src/libs/types/select-options/select-options.ts
  frontend/src/libs/types/select-options/select-options.type.ts
  frontend/src/libs/types/types.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-49: * removed accountName from sign-up and maked it nullable
  backend/src/db/migrations/20230321104929_add_account_name_column_to_user_details.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  frontend/src/pages/account-settings/components/profile/profile.tsx
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/slices/auth/auth.slice.ts
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/types/user-auth-response.type.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/types/user-update-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/user-update.validation-schema.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-51: * updated css variable name, used level gradation to define z-index level, replaced old name with new one styles fiel
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/modal/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-49: * profile form default values
  frontend/src/pages/account-settings/components/profile/profile.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: - removed redudant logic of closing dialog element
  frontend/src/libs/components/modal/modal.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:editor && npm run lint:fs: any of: *
  cd shared && npm run lint:js && npm run lint:types: any of: shared/**/*.ts
  cd backend && npm run lint:js && npm run lint:types: any of: backend/**/*.ts
  cd frontend && && npm run lint:css: any of: frontend/**/*.scss
  cd frontend && npm run lint:js && npm run lint:types: any of: frontend/**/*.{ts,tsx}
