Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-18: * move icon.type to '~/libs/types'
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/types/icon.type.ts
  frontend/src/libs/types/types.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-18: * Button component hidden label
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/stepper/stepper.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-18: + IconButton component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon-button/styles.module.scss
  frontend/src/libs/components/stepper/stepper.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-18: * rename stepper hooks function
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/hooks/use-app-stepper/use-app-stepper.hook.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-18: * used Button component in IconButton component
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon-button/styles.module.scss
  frontend/src/libs/components/stepper/stepper.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-8: * props,types,style,folder fixs
  frontend/src/libs/components/select/select.module.scss
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.ts
  frontend/src/libs/types/select-options/select-options.ts
  frontend/src/libs/types/types.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-51: + added modal close svg icon
  frontend/src/assets/img/close-pop-up-icon.svg
Due: npm run lint:editor && npm run lint:fs

sl-51: + created modal window component, basic component structure, basic styles
  frontend/src/libs/components/modal-window/modal-window.tsx
  frontend/src/libs/components/modal-window/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-8: * fix linter problem
  frontend/src/libs/components/select/styles.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-13: * pull request changes
  frontend/src/libs/packages/notification/libs/enums/notification-type.enum.ts
  frontend/src/libs/packages/notification/libs/types/notificatin-options.type.ts
  frontend/src/libs/packages/notification/libs/types/types.ts
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/store/middlewares/handle-error.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/libs/packages/store/types/extra-arguments.type.ts
  frontend/src/libs/packages/store/types/types.ts
  frontend/src/slices/app/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-13: * pull request changes, app
  frontend/src/slices/app/app.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: * removed mistake in class name
  frontend/src/libs/components/modal-window/modal-window.tsx
  frontend/src/libs/components/modal-window/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-51: + added properties to make modal always be in the middle of page
  frontend/src/libs/components/modal-window/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-51: + added library to work with portals
  frontend/package.json
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

development: * icon button
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon-button/icon-button.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

development: + enable exactOptionalPropertyTypes
  backend/src/libs/packages/server-application/server-app.ts
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  tsconfig.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-51: + added dev library for portal types
  frontend/package.json
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-51: + wrapped modal with portal component, added backdrop element and styles for it
  frontend/src/libs/components/modal-window/modal-window.tsx
  frontend/src/libs/components/modal-window/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-13: * fix mistakes
  frontend/src/libs/packages/notification/libs/enums/notification-type.enum.ts
  frontend/src/slices/app/app.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: - removed react-portal libs
  frontend/package.json
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-51: * replaced using Portal component with ReactDOM create portal
  frontend/src/libs/components/modal-window/modal-window.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: + enhanced icons map with close pop up icon
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/types/icon.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: * replaced default button with button icon component, removed redudant styles
  frontend/src/libs/components/modal-window/modal-window.tsx
  frontend/src/libs/components/modal-window/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-51: + added exporting modal window component
  frontend/src/libs/components/components.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-13: - made type locally
  frontend/src/libs/packages/notification/libs/types/notificatin-options.type.ts
  frontend/src/libs/packages/notification/libs/types/types.ts
  frontend/src/libs/packages/notification/notification.package.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: * changed the way pass class name, removed importing react-dom object and imported createPortal func instead
  frontend/src/libs/components/modal-window/modal-window.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: * changed component name, updated imports path
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-51: * changed name of svg file, updated icon union type, updated imported svg file name
  frontend/src/assets/img/close-pop-up-icon.svg
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/types/icon.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: + added new svg file
  frontend/src/assets/img/cross.svg
Due: npm run lint:editor && npm run lint:fs

sl-11: + auth user path
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-11: + headers in map request
  backend/src/libs/packages/controller/controller.package.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-11: + headers type
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-11: + find method
  backend/src/packages/auth/auth.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-11: + find auth user method
  backend/src/packages/auth/auth.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-11: + get user method
  frontend/src/packages/auth/auth-api.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: + get auth user action
  frontend/src/pages/auth/auth.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: + get auth user
  frontend/src/slices/auth/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: + auth user slice
  frontend/src/slices/auth/auth.user.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: + auth user actions
  frontend/src/slices/auth/auth.user.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: * used dialog element to create modal, updated styles due to dialog requirements
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:editor && npm run lint:fs: any of: *
  cd shared && npm run lint:js && npm run lint:types: any of: shared/**/*.ts
  cd backend && npm run lint:js && npm run lint:types: any of: backend/**/*.ts
  cd frontend && && npm run lint:css: any of: frontend/**/*.scss
  cd frontend && npm run lint:js && npm run lint:types: any of: frontend/**/*.{ts,tsx}
