Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-7: * find all method
  backend/src/packages/users/user.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + dto and enums for sites route
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/sites/libs/enums/enums.ts
  shared/src/packages/sites/libs/enums/sites-api-path.enum.ts
  shared/src/packages/sites/libs/types/site-get-all-item-response-dto.type.ts
  shared/src/packages/sites/libs/types/site-get-all-response-dto.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/sites.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-20: + site model
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/packages/sites/site.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + site repository and entity
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + site service
  backend/src/packages/sites/site.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + site controller
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/sites/libs/enums/enums.ts
  backend/src/packages/sites/libs/types/types.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/sites.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-12: + loader conponent
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-15: + change css
  frontend/src/pages/not-found/not-found.module.css
  frontend/src/pages/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * updated header component and styles
  frontend/src/libs/components/header/header.module.scss
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-9: + add createToken method
  backend/src/packages/auth/libs/helpers/token/create-token/create.token.helper.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: + install jsonwebtoken lib
  backend/package.json
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-9: + add section JWT and SECTET_KEY to ENV
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: + add model sign-in-response, update model sign upsign-up-response
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-9: + token generation and add to responses
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.service.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-15: + changing variable names
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/not-found/not-found.module.css
  frontend/src/pages/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-20: + site route description
  backend/src/db/migrations/20230315143040_add_sites_table.ts
  backend/src/packages/sites/site.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: + add token to local storage
  frontend/src/slices/auth/auth.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-15: + replacing the i tag with a style tag
  frontend/src/pages/not-found/not-found.module.scss
  frontend/src/pages/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-7: + table relations
  backend/src/packages/users/user-details.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: - first name and last name
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: * find all and create methods
  backend/src/packages/users/user.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: + first name and last name
  shared/src/packages/users/libs/types/user-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-7: + first name and last name
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-15: + removed the redundant p tag
  frontend/src/pages/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-7: * imports
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-14: * fix after review
  frontend/src/index.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/users/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-20: + dto and validation schema for site creation
  shared/src/index.ts
  shared/src/packages/sites/libs/types/site-create-request-dto.type.ts
  shared/src/packages/sites/libs/types/site-create-response-dto.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/libs/validation-schemas/site-create.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sites/sites.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-20: + /sites/ POST endpoint
  backend/src/packages/sites/libs/types/types.ts
  backend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/site.service.ts
  backend/src/packages/sites/sites.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-14: * fix after review conflict
  frontend/src/index.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-8: * added api form to select,change package folder
  frontend/package.json
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/types/types.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

development: + get join relation path to model
  backend/src/libs/packages/database/database.ts
  backend/src/libs/packages/database/libs/helpers/get-join-relation-path/get-join-relation-path.helper.ts
  backend/src/libs/packages/database/libs/helpers/helpers.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  shared/src/libs/enums/server-error-type.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-13: * making edits from a pull request
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/toastr/toastr.tsx
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/store/middlewares/error.middleware.ts
  frontend/src/libs/packages/store/middlewares/middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-13: - notification interface
  frontend/src/libs/packages/notification/libs/interfaces/interfaces.ts
  frontend/src/libs/packages/notification/libs/interfaces/notification.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-13: * add toastr styles, error example
  frontend/src/libs/components/toastr/toastr.tsx
  frontend/src/slices/auth/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-13: * format doc
  frontend/src/libs/components/app/app.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fix after review
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fix change
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fix after review
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:editor && npm run lint:fs: any of: *
  cd shared && npm run lint:js && npm run lint:types: any of: shared/**/*.ts
  cd backend && npm run lint:js && npm run lint:types: any of: backend/**/*.ts
  cd frontend && && npm run lint:css: any of: frontend/**/*.scss
  cd frontend && npm run lint:js && npm run lint:types: any of: frontend/**/*.{ts,tsx}
