Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

.lintstagedrc.yml:

'*.{ts,tsx,json,md,scss,html}': prettier --write
'*': npm run lint:editor && npm run lint:fs
'shared/**/*.ts': cd shared && npm run lint:js && npm run lint:types
'backend/**/*.ts': cd backend && npm run lint:js && npm run lint:types
'frontend/**/*.scss': cd frontend && && npm run lint:css
'frontend/**/*.{ts,tsx}': cd frontend && npm run lint:js && npm run lint:types

sl-14: + add properties
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + fix prettier
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + use AppRoute enum
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-20: + create sites table migration
  backend/src/db/migrations/20230315143040_add_sites_table.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + dto and enums for sites route
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/sites/libs/enums/enums.ts
  shared/src/packages/sites/libs/enums/sites-api-path.enum.ts
  shared/src/packages/sites/libs/types/site-get-all-item-response-dto.type.ts
  shared/src/packages/sites/libs/types/site-get-all-response-dto.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/sites.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-20: + site model
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/packages/sites/site.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + site service
  backend/src/packages/sites/site.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + site repository and entity
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + site route description
  backend/src/db/migrations/20230315143040_add_sites_table.ts
  backend/src/packages/sites/site.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + projects api path
  shared/src/packages/projects/libs/enums/projects-api-path.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-41: * user validation rules
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + projects
  shared/src/index.ts
  shared/src/packages/projects/projects.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + projects dtos
  backend/src/packages/projects/libs/types/types.ts
  shared/src/packages/projects/libs/types/types.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-19: + project controller
  backend/src/packages/projects/project.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project entity
  backend/src/packages/projects/project.entity.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project repository
  backend/src/packages/projects/project.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + /sites/ POST endpoint
  backend/src/packages/sites/libs/types/types.ts
  backend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/site.service.ts
  backend/src/packages/sites/sites.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project validation message
  shared/src/packages/projects/libs/enums/project-validation-message.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: * file formatting
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project service
  backend/src/packages/projects/project.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

development: + jsx curly rule
  frontend/.eslintrc.yml
Due: npm run lint:editor && npm run lint:fs

sl-19: + project controller
  backend/src/libs/packages/server-application/server-application.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + projects table
  backend/src/db/migrations/20230316144349_add_projects_table.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project relation
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: - project relation
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + projects path in api path
  shared/src/libs/enums/api-path.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-20: * divided swagger description
  backend/src/packages/sites/site.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + validation schema
  backend/src/packages/projects/libs/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project validation schema
  shared/src/packages/projects/libs/validation-schemas/project-create.validation-schema.ts
  shared/src/packages/projects/libs/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + project model
  backend/src/packages/projects/project.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + projects dtos
  shared/src/packages/projects/libs/types/project-create-request-dto.type.ts
  shared/src/packages/projects/libs/types/project-create-response-dto.type.ts
  shared/src/packages/projects/libs/types/project-get-all-item-response-dto.type.ts
  shared/src/packages/projects/libs/types/project-get-all-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + projects db table name
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project enums
  backend/src/packages/projects/libs/enums/enums.ts
  shared/src/packages/projects/libs/enums/enums.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-20: + site controller
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/sites/libs/enums/enums.ts
  backend/src/packages/sites/libs/types/types.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/sites.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project
  backend/src/packages/projects/projects.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-20: + dto and validation schema for site creation
  shared/src/index.ts
  shared/src/packages/sites/libs/types/site-create-request-dto.type.ts
  shared/src/packages/sites/libs/types/site-create-response-dto.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/libs/validation-schemas/site-create.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sites/sites.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-13: + small fixes after review
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/toastr/notification.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-18: + useStepper hook
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-stepper/use-app-stepper.hook.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-44: * fixed ambiguity in user repository find method
  backend/src/packages/users/user.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-44: + verify token method
  backend/src/libs/packages/token/libs/token.interface.ts
  backend/src/libs/packages/token/token.package.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types
