Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-14: * add watcher to package
  backend/package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-5: + validation schema
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-5: * refactor and run prettier
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/packages/users/users.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-10: * button component
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/button/styles.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-10: * input component (css modules)
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-16: + scss color variables
  frontend/src/assets/css/variables.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-16: * added importing roboto font
  frontend/index.html
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-16: * removed importing header.scss, added importing variables.scss
  frontend/src/assets/css/styles.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-10: * minor input styles changes
  frontend/src/libs/components/input/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-14: * rewrite protected routes component/fixed errors#1
  backend/package.json
  frontend/src/index.tsx
  frontend/src/libs/components/protect-route-component/protect-route-component.tsx
  frontend/src/pages/auth/components/components.tsx
  frontend/src/pages/auth/components/protect-route-component/protect-route-component.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-5: * change property name
  frontend/src/libs/components/page-layout/page-layout.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-10: - global text styles
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/styles.text.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-10: + roboto font
  frontend/index.html
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-5: * use clsx package
  frontend/package.json
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/page-layout/page-layout.tsx
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: + header.module.scss to use instead header.scss
  frontend/src/libs/components/header/header.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-16: * header.tsx used module instead default import
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * protected routes component/fixed errors#2
  backend/package.json
  frontend/src/index.tsx
  frontend/src/pages/auth/components/components.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * protected routes component/fixed errors#3
  backend/package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

Update package.json
  backend/package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-16: * added background none for header
  frontend/src/libs/components/header/header.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-13: + add global error handler/notifications
  frontend/package.json
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/packages/notification/libs/enums/enums.ts
  frontend/src/libs/packages/notification/libs/enums/notification-type.enum.ts
  frontend/src/libs/packages/notification/libs/interfaces/interfaces.ts
  frontend/src/libs/packages/notification/libs/interfaces/notification.interface.ts
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * protected routes component fixed error
  frontend/src/libs/components/protect-route-component/protect-route-component.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * routes component fixed
  frontend/src/libs/components/protect-route-component/protect-route-component.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-15: * created a not-found page
  frontend/src/index.tsx
  frontend/src/pages/auth/components/not-found/not-found.module.scss
  frontend/src/pages/auth/components/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-13: * comment example,s part
  frontend/src/slices/auth/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * updated with prettify
  frontend/src/libs/components/header/header.module.scss
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-15: + refactoring
  frontend/src/index.tsx
  frontend/src/pages/auth/components/not-found/not-found.module.scss
  frontend/src/pages/auth/components/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fixed
  frontend/src/libs/components/protect-route-component/protect-route-component.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-15: + style issues
  frontend/src/pages/auth/components/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-10: * input styles
  frontend/src/libs/components/input/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-8: + select wrapper without styles
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.module.scss
  frontend/src/libs/types/types.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  package-lock.json
  package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-8: + styles for select
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fixed after review
  frontend/src/index.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/pages/auth/components/components.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-5: * import path for UserValidationRule
  shared/src/packages/users/libs/enums/enums.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-5: * button styles
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-5: * PageLayout styles
  frontend/src/libs/components/page-layout/page-layout.tsx
  frontend/src/libs/components/page-layout/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-15: + actual Not Found, refactoring issues
  frontend/src/index.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/auth/components/not-found/not-found.tsx
  frontend/src/pages/not-found/not-found.module.scss
  frontend/src/pages/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

development: * stylelint config
  frontend/.stylelintrc.yml
Due: npm run lint:editor && npm run lint:fs

sl-10: * review fixes
  frontend/index.html
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  shared/src/packages/users/libs/enums/enums.ts
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:editor && npm run lint:fs: any of: *
  cd shared && npm run lint:js && npm run lint:types: any of: shared/**/*.ts
  cd backend && npm run lint:js && npm run lint:types: any of: backend/**/*.ts
  cd frontend && && npm run lint:css: any of: frontend/**/*.scss
  cd frontend && npm run lint:js && npm run lint:types: any of: frontend/**/*.{ts,tsx}
