Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

.lintstagedrc.yml:

'*.{ts,tsx,json,md,scss,html}': prettier --write
'*': npm run lint:editor && npm run lint:fs
'shared/**/*.ts': cd shared && npm run lint:js && npm run lint:types
'backend/**/*.ts': cd backend && npm run lint:js && npm run lint:types
'frontend/**/*.scss': cd frontend && && npm run lint:css
'frontend/**/*.{ts,tsx}': cd frontend && npm run lint:js && npm run lint:types

sl-44: + decoration request with user
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/plugins/authorization.plugin.ts
  backend/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-16: * updated header component, removed possible null value from user prop
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/page-layout/page-layout.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-44: * moved merging FastifyRequest into .d.ts file
  backend/src/index.d.ts
  backend/src/libs/plugins/authorization.plugin.ts
  backend/tsconfig.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-18: + useSVGImport hook
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-svg-import/use-app-svg-import.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + use the value from AppRoute
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-18: * used A11
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/stepper/stepper.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-18: * run Prettier
  frontend/src/libs/components/stepper/stepper.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + import ValueOf
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + changed path
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-9: * fix exports
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: * fix config class
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/interfaces/config.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: * delete extra types
  backend/src/packages/projects/project.service.ts
  backend/src/packages/sites/site.service.ts
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/libs/packages/config/libs/interfaces/config.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-9: - delete extra class
  shared/src/libs/packages/config/libs/interfaces/token.config.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-9: * delete extra generic from IConfig
  shared/src/libs/packages/config/libs/interfaces/config.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-16: * replaced default avatar image with the new one
  frontend/src/assets/img/default-avatar-profile-icon.png
  frontend/src/assets/img/profile-image.png
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * used prettify on header component
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-9: + add error meaages enum
  shared/src/libs/enums/application-error-messages-enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-9: * change error type
  backend/src/packages/auth/auth.service.ts
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-16: * replaced png pic with svg, replaced hardcoded link with RouteApp value
  frontend/src/assets/img/default-avatar-profile-icon.png
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-9: * change enum name
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/libs/enums/enums.ts
  backend/src/packages/auth/libs/exceptions/exceptions.ts
  shared/src/index.ts
  shared/src/libs/enums/application-error-messages-enum.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/exception-messages-enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-16: * added svg file to folder
  frontend/src/assets/img/default-avatar-profile-icon.svg
Due: npm run lint:editor && npm run lint:fs

sl-9: * remove exception messages enum
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/libs/enums/enums.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: - remove exception message file
  shared/src/libs/enums/exception-messages-enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-9: * remove paths
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-18: * UseStepper hook
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/hooks/use-app-stepper/use-app-stepper.hook.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * resolved conflict
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

development: * env example
  backend/.env.example
Due: npm run lint:editor && npm run lint:fs

development: * user type
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  frontend/src/slices/auth/auth.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * updated the way header component gets user data
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/page-layout/page-layout.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-18: * Icon component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-name.enum.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-svg-import/use-app-svg-import.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * fixed when trying to get field that doesn't exist
  frontend/src/libs/components/page-layout/page-layout.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-21: * fixes
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
  backend/src/libs/packages/server-application/libs/types/types.ts
  backend/src/libs/packages/server-application/libs/types/white-routes.type.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/packages/token/libs/token.interface.ts
  backend/src/libs/packages/token/token.package.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/plugins/authorization/libs/types/authorization-plugin-parameters.type.ts
  backend/src/libs/plugins/authorization/libs/types/types.ts
  backend/src/libs/plugins/plugins.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

development: * frontend eslint config
  frontend/.eslintrc.yml
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/pages/auth/auth.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

development: + root eslint
  .eslintrc.yml
  backend/src/libs/packages/config/config.package.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.service.ts
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/slices/auth/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-21: + checks for absent and invalid formatted Authorization header
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-18: * Icon component
  frontend/src/assets/img/arrow-right.svg
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/components/stepper/styles.module.scss
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-name.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

development: * tsconfig
  tsconfig.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

development: * user request
  backend/src/index.d.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/plugins/authorization/libs/types/authorization-plugin-parameters.type.ts
  backend/src/libs/plugins/authorization/libs/types/types.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-16: * changed the way I import UserAuthResponse
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-18: * button with icon
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/components/stepper/styles.module.scss
  frontend/src/libs/hooks/use-app-stepper/use-app-stepper.hook.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types
