Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

.lintstagedrc.yml:

'*.{ts,tsx,json,md,scss,html}': prettier --write
'*': npm run lint:editor && npm run lint:fs
'shared/**/*.ts': cd shared && npm run lint:js && npm run lint:types
'backend/**/*.ts': cd backend && npm run lint:js && npm run lint:types
'frontend/**/*.scss': cd frontend && && npm run lint:css
'frontend/**/*.{ts,tsx}': cd frontend && npm run lint:js && npm run lint:types

development: * install script
  .eslintrc.yml
  .github/workflows/ci.yml
  package.json
  readme.md
Due: prettier --write, npm run lint:editor && npm run lint:fs

development: + initial db structure in readme
  readme.md
Due: prettier --write, npm run lint:editor && npm run lint:fs

developmet: * configs
  .eslintrc.yml
  .github/workflows/ci.yml
  backend/.env.example
  backend/package.json
  package.json
  readme.md
Due: prettier --write, npm run lint:editor && npm run lint:fs

development: * before insert method
  backend/src/libs/packages/database/abstract.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

development: * code linters
  .github/workflows/ci.yml
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/server-application/server-app-api.ts
  frontend/.env.example
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/vite.config.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

development: * linters
  .lintstagedrc.yml
  package-lock.json
  readme.md
Due: prettier --write, npm run lint:editor && npm run lint:fs

development: + codeowners
  .github/CODEOWNERS
  frontend/vite.config.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

development: * libs for users
  shared/src/packages/users/libs/enums/enums.ts
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-get-all-item-response-dto.type.ts
  shared/src/packages/users/libs/types/user-get-all-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

development: * eslint config
  .eslintrc.yml
Due: npm run lint:editor && npm run lint:fs

development: * gitignore
  .gitignore
Due: npm run lint:editor && npm run lint:fs

development: * frontend eslint config
  frontend/.eslintrc.yml
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/router-provider/router-provider.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-5: + general styles (variables, text)
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/styles.text.scss
  frontend/src/assets/css/variables.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-5: + general button styles
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-5: + general input styles
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-00: * split lint staged config files
  .lintstagedrc.yml
  backend/.lintstagedrc.yml
  backend/package.json
  frontend/.lintstagedrc.yml
  frontend/package.json
  shared/.lintstagedrc.yml
  shared/package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-00: * fix prettier warn on linting
  frontend/src/libs/components/button/button.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + add protected routes component
  frontend/src/index.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/auth/components/components.tsx
  frontend/src/pages/auth/components/protect-route-component/protect-route-component.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-10: + layout background image and pattern
  frontend/src/assets/img/background-image.svg
  frontend/src/assets/img/background-pattern.png
Due: npm run lint:editor && npm run lint:fs

sl-10: + css color variables
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-10: + page layout component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/page-layout/page-layout.tsx
  frontend/src/libs/components/page-layout/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-10: * auth page layout
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-00: * more clear lint config
  backend/.lintstagedrc.yml
  backend/package.json
  frontend/.lintstagedrc.yml
  frontend/package.json
  shared/.lintstagedrc.yml
  shared/package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-00: + nodemon usage
  backend/package.json
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

development: * root lintstage
  .lintstagedrc.yml
Due: npm run lint:editor && npm run lint:fs

sl-10: * Merge with task/sl-5-sign-up
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/styles.text.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.scss
  frontend/src/libs/components/page-layout/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

development: * lintstage
  backend/.lintstagedrc.yml
  frontend/.lintstagedrc.yml
  shared/.lintstagedrc.yml
Due: npm run lint:editor && npm run lint:fs

sl-5: + ignore .idea for linter
  .ls-lint.yml
Due: npm run lint:editor && npm run lint:fs

sl-16: + header component and header styles file
  frontend/src/assets/css/header.scss
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-10: + sign up form styles
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/styles.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-10: * app component (delete example functionality)
  frontend/src/libs/components/app/app.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-5: + sing in validation schemas
  frontend/src/libs/components/input/input.tsx
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/auth/components/sign-in-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-10: * registration dto and validation schema
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-10: * signUpForm, add first and last name inputs
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-5: * class names
  frontend/src/assets/css/styles.text.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.scss
  frontend/src/libs/components/input/input.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-10: * input error message fix
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.scss
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-16: * header.scss replaced scss variables with custom properties, removed import styles in header component, added import in styles.scss
  frontend/src/assets/css/header.scss
  frontend/src/assets/css/styles.scss
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-10: + user-validation-rules enum
  shared/src/packages/users/libs/enums/enums.ts
  shared/src/packages/users/libs/enums/user-validation-rules.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-5: + sign in page styles
  frontend/src/assets/css/styles.text.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/components/page-layout/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types
