Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-20: * divided swagger description
  backend/src/packages/sites/site.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-16: * updated header styles module name, updated styles, updated header component
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-18: + Stepper component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/components/stepper/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fix change structure of auth slice
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/slices/auth/auth.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-8: * changes classes from scss to select api(without icon/dropdown not work correctly)
  frontend/src/libs/components/select/select.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * added exporting header component to componens.ts, removed redundant styles
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-9: * create type for user
  shared/src/packages/users/libs/types/user-auth-response.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-9: * fix backend issues
  backend/package.json
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/libs/helpers/token/create-token/create.token.helper.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-9: * fix frontend issues
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-9: + add type for user register response
  backend/src/packages/users/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-register-response.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-9: * fix imports
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.service.ts
  frontend/src/slices/auth/auth.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fix after review
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/libs/hooks/hooks.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fix after review
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/users/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * removed extra importing font, added mocked profile pic, added profile pic into header component
  frontend/index.html
  frontend/src/assets/img/profile-image.png
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-19: + projects table
  backend/src/db/migrations/20230316144349_add_projects_table.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + projects db table name
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project controller
  backend/src/packages/projects/project.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + projects dtos
  shared/src/packages/projects/libs/types/project-create-request-dto.type.ts
  shared/src/packages/projects/libs/types/project-create-response-dto.type.ts
  shared/src/packages/projects/libs/types/project-get-all-item-response-dto.type.ts
  shared/src/packages/projects/libs/types/project-get-all-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + project validation schema
  shared/src/packages/projects/libs/validation-schemas/project-create.validation-schema.ts
  shared/src/packages/projects/libs/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + project entity
  backend/src/packages/projects/project.entity.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project repository
  backend/src/packages/projects/project.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project model
  backend/src/packages/projects/project.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project service
  backend/src/packages/projects/project.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + projects api path
  shared/src/packages/projects/libs/enums/projects-api-path.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + projects path in api path
  shared/src/libs/enums/api-path.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + project validation message
  shared/src/packages/projects/libs/enums/project-validation-message.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + projects dtos
  backend/src/packages/projects/libs/types/types.ts
  shared/src/packages/projects/libs/types/types.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-19: + projects
  shared/src/index.ts
  shared/src/packages/projects/projects.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: + validation schema
  backend/src/packages/projects/libs/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project enums
  backend/src/packages/projects/libs/enums/enums.ts
  shared/src/packages/projects/libs/enums/enums.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-19: + project controller
  backend/src/libs/packages/server-application/server-application.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project relation
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: + project
  backend/src/packages/projects/projects.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-41: * user validation rules
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-19: - project relation
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-19: * file formatting
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-16: * updated auth slice, added user auth, update header component, added header to layout
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/page-layout/page-layout.tsx
  frontend/src/slices/auth/auth.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * updated header and page-layout with prettify
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/page-layout/page-layout.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-21: + authorization plugin with white routing
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/packages/white-routes-config/libs/interfaces/interfaces.ts
  backend/src/libs/packages/white-routes-config/libs/interfaces/white-routes-config.interface.ts
  backend/src/libs/packages/white-routes-config/libs/types/types.ts
  backend/src/libs/packages/white-routes-config/libs/types/white-route.type.ts
  backend/src/libs/packages/white-routes-config/libs/types/white-routes.type.ts
  backend/src/libs/packages/white-routes-config/white-routes-config.package.ts
  backend/src/libs/packages/white-routes-config/white-routes-config.ts
  backend/src/libs/plugins/authorization.plugin.ts
  backend/src/libs/plugins/plugins.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-8: * change type option folder to component,changes styles,added rotated menu icon,deleted unusefful divs ,tried to add icon but now is not working correctly,save changes in package lock
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/types/types.ts
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:editor && npm run lint:fs: any of: *
  cd shared && npm run lint:js && npm run lint:types: any of: shared/**/*.ts
  cd backend && npm run lint:js && npm run lint:types: any of: backend/**/*.ts
  cd frontend && && npm run lint:css: any of: frontend/**/*.scss
  cd frontend && npm run lint:js && npm run lint:types: any of: frontend/**/*.{ts,tsx}
