Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-5: + model controller validation
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/users.ts
  shared/src/index.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-15: + delete unuse hook, refactor code
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-10: + install clsx package
  package-lock.json
  package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-10: + clsx usage in ui components (button, input)
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-6: * import fix
  backend/src/packages/auth/auth.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-15: + rename page
  frontend/src/index.tsx
  frontend/src/pages/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-10: + getValidClassNames helper
  frontend/package.json
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/helpers/get-valid-class-names/get-valid-class-names.ts
  frontend/src/libs/helpers/helpers.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-15: + style issues
  frontend/src/index.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-8: * changes in styles
  frontend/src/libs/components/select/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-15: + fixed all styling bugs
  frontend/src/index.tsx
  frontend/src/pages/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-8: * changed color for primary
  frontend/src/libs/components/select/select.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-10: * input errorMesage fix
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-8: - deleted sample for select
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + add cheking from repositiry
  backend/package.json
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-10: * PageLayout (getValidClassNames usage)
  frontend/src/libs/components/page-layout/page-layout.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fix cheking from repository
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-7: + user_details table
  backend/src/db/migrations/20230313124649_add_user_details_table.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: * find method
  backend/src/libs/interfaces/repository.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: * find method
  backend/src/libs/interfaces/service.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: + user_details db table name
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: + user details entity
  backend/src/packages/users/user-details.entity.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: + user details model
  backend/src/packages/users/user-details.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: * access modificators
  backend/src/packages/users/user.entity.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: + relation mappings
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: * create method
  backend/src/packages/users/user.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: * create method
  backend/src/packages/users/user.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: + user details model
  backend/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-15: + created direct not-found path
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-17: + root page layout
  frontend/src/assets/img/background-pattern.png
  frontend/src/index.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fix after review
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: * fix after review prettify
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-20: + create sites table migration
  backend/src/db/migrations/20230315143040_add_sites_table.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-15: + changed export page
  frontend/src/index.tsx
  frontend/src/pages/not-found/not-found.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-7: - find method parameters
  backend/src/libs/interfaces/repository.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: - find method parameters
  backend/src/libs/interfaces/service.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: - user details entity
  backend/src/packages/users/user-details.entity.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: + first name and last name
  backend/src/packages/users/user.entity.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: + first name and last name
  backend/src/packages/users/user.model.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-7: * create and find all methods
  backend/src/packages/users/user.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:editor && npm run lint:fs: any of: *
  cd shared && npm run lint:js && npm run lint:types: any of: shared/**/*.ts
  cd backend && npm run lint:js && npm run lint:types: any of: backend/**/*.ts
  cd frontend && && npm run lint:css: any of: frontend/**/*.scss
  cd frontend && npm run lint:js && npm run lint:types: any of: frontend/**/*.{ts,tsx}
