Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

.lintstagedrc.yml:

'*.{ts,tsx,json,md,scss,html}': prettier --write
'*': npm run lint:editor && npm run lint:fs
'shared/**/*.ts': cd shared && npm run lint:js && npm run lint:types
'backend/**/*.ts': cd backend && npm run lint:js && npm run lint:types
'frontend/**/*.scss': cd frontend && && npm run lint:css
'frontend/**/*.{ts,tsx}': cd frontend && npm run lint:js && npm run lint:types

sl-49: * swagger description
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/users/user.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-49: * readme db schema
  readme.md
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-49: * userUpdateRequestDto
  shared/src/packages/users/libs/types/user-update-request-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-11: + if user exist checking
  backend/src/packages/auth/auth.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-11: + if user not in store checking
  frontend/src/libs/components/app/app.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: - get current user action
  frontend/src/pages/auth/auth.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: + not found http code
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-52: + new field migration
  backend/src/db/migrations/20230321180534_add_project_id_to_sites_table.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-52: + sites types, enums, validations
  shared/src/index.ts
  shared/src/packages/sites/libs/enums/sites-api-path.enum.ts
  shared/src/packages/sites/libs/types/site-create-request-dto.type.ts
  shared/src/packages/sites/libs/types/site-get-by-project-request-dto.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/libs/validation-schemas/site-create.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/site-get-by-project.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sites/sites.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-52: + params validation
  backend/src/libs/packages/controller/libs/types/controller-route-parameters.type.ts
  backend/src/libs/packages/server-application/libs/types/server-app-route-parameters.type.ts
  backend/src/libs/packages/server-application/server-app.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-52: + sites. find and create with project
  backend/src/packages/sites/libs/types/types.ts
  backend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.model.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/site.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-52: + getting sites
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/sites/libs/enums/enums.ts
  frontend/src/packages/sites/libs/types/types.ts
  frontend/src/packages/sites/sites-api.ts
  frontend/src/packages/sites/sites.ts
  frontend/src/pages/sites/sites.tsx
  frontend/src/pages/sites/styles.module.scss
  frontend/src/slices/sites/actions.ts
  frontend/src/slices/sites/sites.slice.ts
  frontend/src/slices/sites/sites.ts
  shared/src/packages/sites/libs/types/site-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-52: + link to sites page from projects page
  frontend/src/libs/components/components.ts
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/sites/sites.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-52: + site page styles
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/test.jpg
  frontend/src/pages/sites/components/components.tsx
  frontend/src/pages/sites/components/site-card/site-card.tsx
  frontend/src/pages/sites/components/site-card/styles.module.scss
  frontend/src/pages/sites/sites.tsx
  frontend/src/pages/sites/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-49: * fix conflicts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  frontend/src/slices/auth/auth.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-51: * replaced using react children props interface with discribed type field
  frontend/src/libs/components/modal/modal.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-8: * names fixs
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/types/select-options/select-option.type.ts
  frontend/src/libs/types/types.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-49: * changes after merge
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  frontend/src/slices/auth/auth.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-49: * changed enpoint method to PUT
  backend/src/packages/users/user.controller.ts
  frontend/src/packages/users/users-api.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-3: + init deployment setup
  backend/package.json
  backend/src/libs/packages/server-application/server-app.ts
  frontend/package.json
  package.json
  prepare-build.sh
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-52: + divider component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/divider/divider.tsx
  frontend/src/libs/components/divider/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-8: * select component types
  frontend/src/libs/types/select-option.type.ts
  frontend/src/libs/types/types.ts
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

development: * lintstage
  .lintstagedrc.yml
  backend/.lintstagedrc.yml
  frontend/.lintstagedrc.yml
  shared/.lintstagedrc.yml
Due: npm run lint:editor && npm run lint:fs

sl-3: * root build script
  package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-3: - npm i on build script
  package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-3: * fix start build script
  package.json
  prepare-build.sh
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-3: * fix prepare build script
  prepare-build.sh
Due: npm run lint:editor && npm run lint:fs

sl-3: + node_modules copying
  prepare-build.sh
Due: npm run lint:editor && npm run lint:fs

sl-3: * make node_modules dir in prepare script
  prepare-build.sh
Due: npm run lint:editor && npm run lint:fs

sl-3: + build in workspaces test
  package.json
  prepare-build.sh
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-3: + host on app listen
  backend/src/libs/packages/server-application/server-app.ts
  frontend/.env.example
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-3: - unused shared build mv
  prepare-build.sh
Due: npm run lint:editor && npm run lint:fs

sl-52: * site card styles
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/divider/divider.tsx
  frontend/src/pages/sites/components/site-card/site-card.tsx
  frontend/src/pages/sites/components/site-card/styles.module.scss
  frontend/src/pages/sites/sites.tsx
  frontend/src/pages/sites/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-60: + sections migrations
  backend/src/db/migrations/20230323090957_add_sections_table.ts
  backend/src/db/migrations/20230323091509_add_sites_to_sections_table_and_relations.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-52: + account name to mock user
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/sites/sites.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-52: + IconButton in site card
  frontend/src/pages/sites/components/site-card/site-card.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * fix paths, remove unnesessary code
  backend/src/packages/projects/libs/types/types.ts
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/projects/project.service.ts
  frontend/src/libs/components/image/image.tsx
  frontend/src/packages/projects/libs/enums/enums.ts
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/slices/projects/projects.slice.ts
  shared/src/packages/projects/libs/enums/projects-api-path.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-52: * route
  frontend/src/pages/sites/sites.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-62: + start page route
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/start/start.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-43: * change slice
  frontend/src/slices/projects/actions.ts
  frontend/src/slices/projects/projects.slice.ts
  frontend/src/slices/projects/projects.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types
