Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

.lintstagedrc.yml:

'*.{ts,tsx,json,md,scss,html}': prettier --write
'*': npm run lint:editor && npm run lint:fs
'shared/**/*.ts': cd shared && npm run lint:js && npm run lint:types
'backend/**/*.ts': cd backend && npm run lint:js && npm run lint:types
'frontend/**/*.scss': cd frontend && && npm run lint:css
'frontend/**/*.{ts,tsx}': cd frontend && npm run lint:js && npm run lint:types

sl-8: - deleted css select module
  frontend/src/libs/components/select/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css

sl-8: + added svg icon
  frontend/src/assets/img/icons/search.svg
Due: npm run lint:editor && npm run lint:fs

sl-8: - deleted import of scss ,module
  frontend/src/libs/components/select/select.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-9: * add storage service to extra
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/auth/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-9: * fix user response type
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-auth-response.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-9: - delete jsonwebtoken types from package json
  backend/package.json
Due: prettier --write, npm run lint:editor && npm run lint:fs

sl-9: * delete unnesessary type file
  shared/src/packages/users/libs/types/user-register-response.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-9: * fix find method add find by email method
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: * fix return type, add userEntity
  backend/src/packages/users/user.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: + add AUTH config type
  backend/src/libs/packages/config/libs/types/auth-config.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: * separate AUTH config from ENV config
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/packages/auth/auth.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: * update swagger doc
  backend/src/packages/auth/auth.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-8: * some fixes, added search icon to place holder
  frontend/src/assets/img/icons/search.svg
  frontend/src/libs/components/select/select.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-18: + vite-plugin-svgr
  frontend/package.json
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-18: + stepper component
  frontend/src/assets/img/arrow-left.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/components/stepper/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-9: + add token packade and config for it
  backend/src/libs/packages/config/token.config.package.ts
  backend/src/libs/packages/token/libs/interfaces.ts
  backend/src/libs/packages/token/libs/token.interface.ts
  backend/src/libs/packages/token/token-package.ts
  backend/src/libs/packages/token/token.ts
  shared/src/libs/packages/config/libs/interfaces/token.config.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-9: * separate configs for app and token
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/config.ts
  backend/src/libs/packages/config/libs/interfaces/config.interface.ts
  backend/src/libs/packages/config/libs/interfaces/interfaces.ts
  backend/src/libs/packages/config/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/packages/config/config.ts
  shared/src/libs/packages/config/libs/interfaces/interfaces.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-9: * refactor with token package
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/auth.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: * fix type in shared
  package-lock.json
  shared/src/libs/packages/config/libs/interfaces/token.config.interface.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-9: * delete findByEmail from IRepository
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/packages/projects/project.repository.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/users/user.repository.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-13: * change name
  frontend/src/libs/components/toastr/toastr.tsx
  frontend/src/libs/packages/store/middlewares/error.middleware.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

development: + jsx curly rule
  frontend/.eslintrc.yml
Due: npm run lint:editor && npm run lint:fs

sl-16: * updated the way header gets user data, used props.
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/page-layout/page-layout.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-13: * work on mistakes from pull
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/toastr/notification.tsx
  frontend/src/libs/packages/notification/libs/enums/enums.ts
  frontend/src/libs/packages/notification/libs/enums/notification-type.enum.ts
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/libs/packages/store/middlewares/handle-error.ts
  frontend/src/libs/packages/store/middlewares/middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/app/actions.ts
  frontend/src/slices/app/app.slice.ts
  frontend/src/slices/app/app.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * delegated logic of getting userdata to header component from layout
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/page-layout/page-layout.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * removed unnecessary curly braces in header component's jsx
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-16: * updated componet's jsx with prettify
  frontend/src/libs/components/header/header.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-21: * replaced white-route-config class with constant
  backend/src/libs/packages/server-application/libs/constants/constants.ts
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
  backend/src/libs/packages/server-application/libs/types/types.ts
  backend/src/libs/packages/server-application/libs/types/white-route.type.ts
  backend/src/libs/packages/server-application/libs/types/white-routes.type.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/packages/white-routes-config/libs/interfaces/interfaces.ts
  backend/src/libs/packages/white-routes-config/libs/interfaces/white-routes-config.interface.ts
  backend/src/libs/packages/white-routes-config/libs/types/types.ts
  backend/src/libs/packages/white-routes-config/white-routes-config.package.ts
  backend/src/libs/packages/white-routes-config/white-routes-config.ts
  backend/src/libs/plugins/authorization.plugin.ts
  backend/src/packages/auth/auth.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types

sl-16: * added required fields to sign in response dto, removed redudant code
  frontend/src/libs/components/header/header.tsx
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-9: - delete token config
  backend/src/libs/packages/config/token.config.package.ts
  backend/src/libs/packages/token/token-package.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: * fix backend issues
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/config.ts
  backend/src/libs/packages/config/libs/interfaces/config.interface.ts
  backend/src/libs/packages/config/libs/interfaces/interfaces.ts
  backend/src/libs/packages/token/libs/token.interface.ts
  backend/src/libs/packages/token/token.package.ts
  backend/src/libs/packages/token/token.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-9: * fix frontend issues
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/libs/packages/config/libs/interfaces/config.interface.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/auth/actions.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-9: * fix shared issues
  shared/src/index.ts
  shared/src/libs/packages/config/config.ts
  shared/src/libs/packages/config/libs/interfaces/config.interface.ts
  shared/src/libs/packages/config/libs/interfaces/interfaces.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-14: + removed unnecessary component, fixing code style errors
  backend/package.json
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + new line
  frontend/src/libs/components/components.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + create type
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + style fix
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-14: + prettier fix
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-8: * changed margin,deleted space in type folder
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/types/types.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types
