Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

.lintstagedrc.yml:

'*.{ts,tsx,json,md,scss,html}': prettier --write
'*': npm run lint:editor && npm run lint:fs
'shared/**/*.ts': cd shared && npm run lint:js && npm run lint:types
'backend/**/*.ts': cd backend && npm run lint:js && npm run lint:types
'frontend/**/*.scss': cd frontend && && npm run lint:css
'frontend/**/*.{ts,tsx}': cd frontend && npm run lint:js && npm run lint:types

sl-8: * fix stylesconfig
  frontend/src/libs/components/select/styles.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: + added state isOpen and callback for closing modal
  frontend/src/libs/components/modal/modal.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-8: * fix name component ,packages and linter file
  .eslintrc.yml
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/select/select.tsx
  package-lock.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

development: + noPropertyAccessFromIndexSignature ts rule
  .stylelintrc.yml
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon-button/styles.module.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
  frontend/src/libs/components/page-layout/page-layout.tsx
  frontend/src/libs/components/page-layout/styles.module.scss
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/components/stepper/styles.module.scss
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
  frontend/src/pages/not-found/not-found.tsx
  frontend/src/pages/not-found/styles.module.scss
  tsconfig.json
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-8: * fix linter spases
  frontend/src/libs/components/select/select.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-49: + userUpdateDetailsRequestDto, apiPath
  shared/src/index.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-update-details-request-dto.type.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-49: + updateUserDetails method in UserApi
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users-api.ts
  frontend/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-49: + updateUserDetails action
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-49: + /profile route
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/account-settings/account-settings.tsx
  frontend/src/pages/account-settings/components/components.ts
  frontend/src/pages/account-settings/components/profile/profile.tsx
  frontend/src/pages/account-settings/components/profile/styles.module.scss
  frontend/src/pages/account-settings/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-8: * fix dot notatio
  frontend/src/libs/components/select/select.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

development: * auth plugin
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-8: * styles changes
  frontend/src/libs/components/select/select.module.scss
  frontend/src/libs/components/select/select.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-49: + userUpdateDetailsValidationSchema
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/account-settings/components/profile/profile.tsx
  shared/src/index.ts
  shared/src/packages/users/libs/validation-schemas/user-update-details.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-49: + swagger description
  backend/src/packages/users/user.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-49: + accountName column migration
  backend/src/db/migrations/20230321104929_add_account_name_column_to_user_details.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-49: * profile button styles
  frontend/src/pages/account-settings/components/profile/profile.tsx
  frontend/src/pages/account-settings/components/profile/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-49: + cancel button handler
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/account-settings/components/profile/profile.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-49: + PUT /users/user-details enpoint
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-49: * fix linting issues
  frontend/src/libs/components/button/button.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: + implemented backdrop logic for modal
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-11: - headers type
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-51: - removed unnecessary whitespace
  frontend/src/libs/components/modal/modal.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: * get current method
  backend/src/packages/auth/auth.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-11: * find auth user method
  backend/src/packages/auth/auth.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-11: + get auth user action
  frontend/src/libs/components/app/app.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: * get current method
  frontend/src/packages/auth/auth-api.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: * changed the way reach styles properties
  frontend/src/libs/components/modal/modal.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: - auth user slice
  frontend/src/pages/auth/auth.tsx
  frontend/src/slices/auth/auth.user.slice.ts
  frontend/src/slices/auth/auth.user.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-51: * changed style properties names with kebab case
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && && npm run lint:css, cd frontend && npm run lint:js && npm run lint:types

sl-11: + get auth user action
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: * auth user path
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-11: * get auth user swagger doc
  backend/src/packages/auth/auth.controller.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-49: * naming fixes
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users-api.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/account-settings/account-settings.tsx
  frontend/src/pages/account-settings/components/profile/profile.tsx
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/index.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-update-details-request-dto.type.ts
  shared/src/packages/users/libs/types/user-update-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-update.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types, cd backend && npm run lint:js && npm run lint:types, cd frontend && npm run lint:js && npm run lint:types

sl-49: * return type use-app-form-hook
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/account-settings/components/profile/profile.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-11: + get current user action
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types

sl-49: + accountName property to UserAuthResponse, SignUpRequestDto and validation schema
  shared/src/packages/users/libs/types/user-auth-response.type.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd shared && npm run lint:js && npm run lint:types

sl-11: * get current user method
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-49: + accountName server
  backend/src/db/migrations/20230321104929_add_account_name_column_to_user_details.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd backend && npm run lint:js && npm run lint:types

sl-11: + get current user action
  frontend/src/libs/components/app/app.tsx
  frontend/src/pages/auth/auth.tsx
Due: prettier --write, npm run lint:editor && npm run lint:fs, cd frontend && npm run lint:js && npm run lint:types
